<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Produits</title>
</head>
<body>
<h1>Liste des Produits</h1>
<table>
    <thead>
    <tr>
        <th>Nom du Produit</th>
        <th>Prix</th>
        <th>Taille</th>
        <th>Stock</th>
        <th>Catégorie</th>
    </tr>
    </thead>
    <tbody>
    <!-- Utilisation de Thymeleaf pour itérer sur la liste de produits -->
    <tr th:each="product : ${products}">
        <!-- Afficher le nom du produit -->
        <td th:text="${product.nameProduct}">Nom du Produit</td>
        <!-- Afficher le prix du produit -->
        <td th:text="${product.price}">Prix</td>
        <!-- Afficher la taille  produit -->
        <td th:text="${product.sizeProduct}">Taille</td>
        <!-- Afficher la quantité disponible -->
        <td th:text="${product.quantityProduct}">Stock</td>
        <!-- Afficher le nom de sa catégorie-->
        <td th:text="${product.category.nameCategory}">Catégorie</td>
    </tr>
    </tbody>
</table>
</body>
</html>
